 @import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&family=Ysabeau+SC:wght@500&display=swap');

 * {
     padding: 0;
     margin: 0;
     border: none;
 }

 section {
     font-family: 'Source Serif 4', serif;
 }

 header {
    background-color: gray;
    width: 100%;
 }
 /* Title */
 header a {
     text-decoration: none;
     color: inherit;
     font-family: 'Ysabeau SC', sans-serif;
     font-size: 150px;
 }

 /* Description and intoduction */

 #left {
     width: 20%;
     height: 910px;
     font-size: 20px;
     float: left;
     background-color: rgb(180, 180, 180);
 }

 #description {
     margin-top: 50px;
     margin-left: 25px;
     width: 400px
 }

 #description h2 {
     font-family: 'Ysabeau SC', sans-serif;
     text-decoration: underline;
     font-size: 40px;
 }

 /* Sign up for newsletter  */

 #sign-up {
list-style-type: none;
margin-left: 20px;
 }

 #join-button {
    margin-top: 20px;
    margin-left: 20px;
        border-radius: 2px;
        padding: 15px 30px 15px 30px;
        text-align: center;
        font-size: 25px;
        background-color: gray;
        font-family: 'Ysabeau SC', sans-serif;
 }

 #newsletter {
    margin-top: 50px;
    margin-left: 80px;
     width: 300px;
     text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 25px;
 }



 #link a {
    text-decoration: none;
    color: inherit;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 50px;
 }

 #chest {
     text-align: center;
     display: inline-block;
     margin-top: 30px;
     height: 400px;
     width: 600px;
     padding-right: 10px;
     background: url(../images/chest-schematic.jpg) no-repeat center;
     overflow: hidden;
     background-size: cover;
 }



#shoulders {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    height: 400px;
    width: 600px;
    padding-right: 10px;
    background: url(../images/shoulder-schematic.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
}

#arms {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    height: 400px;
    width: 600px;
    padding-right: 10px;
    background: url(../images/arms-schematic.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
}

#core {
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    height: 400px;
    width: 600px;
    padding-right: 10px;
    background: url(../images/abs-schematic.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
}

#back {
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    height: 400px;
    width: 600px;
    padding-right: 10px;
    background: url(../images/back-schematic.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
}

#legs {
    text-align: center;
    display: inline-block;
    margin-top: 70px;
    height: 400px;
    width: 600px;
    padding-right: 10px;
    background: url(../images/legs-schematic.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
}


 footer {
     margin-bottom: 0;
     width: 100%;
     height: 80px;
     background-color: gray;
     text-align: center;
 }