 @import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&family=Ysabeau+SC:wght@500&display=swap');

 * {
     padding: 0;
     margin: 0;
     border: none;
     background-color: rgb(180, 180, 180);
 }

 /* Title */

 header {
     font-family: 'Ysabeau SC', sans-serif;
     font-size: 100px;
 }

 section {
     font-family: 'Source Serif 4', serif;
 }

 /* Description and intoduction */

 #left {
     width: 25%;
     font-size: large;
     float: left;
 }

 #description {
     margin-top: 50px;
     margin-left: 25px;
     width: 400px
 }

 /* Sign up for newsletter */

 #right {
     width: 25%;
     float: right;
     margin-top: -22px;
     background-color: red;
 }

 /* List of muscle groups targeted */

 #centre {
     width: 50%;
     margin: 0 auto;
     margin-top: 50px;
     background-color: green;
 }

 #muscle-groups {
    list-style-type: none;
    font-family: 'Ysabeau SC', sans-serif ;
    font-size: 40px;
 }

 #muscle-groups ul {
    float: right;
 }
 #muscle-groups a {
    text-decoration: none;
    float: left;
    margin-right: 100px;
    color: inherit;
 }

 /* links to social  media */

 footer {
     margin-top: 500px;
 }